html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
}

/* navbar*/
.navbar-brand {
/*  background: url("../images/logo.png") no-repeat left center;
  background-size: contain;
  height: 50px;
  width: 150px;*/
}

/* footer */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #F5F5F5;
  border-top: solid 1px #E7E7E7;
  border-bottom: solid 1px #E7E7E7;
}

.container .text-muted {
  margin: 20px 0;
}

.table{
  margin-top: 20px;
}

/* lost-item-page */
.tab-pane{
  margin-top: 30px;
  margin-bottom: 30px;
  /*padding-top: 30px;*/
  /*padding-bottom: 50px;*/
}

.year_select{
  margin-bottom: 10px;
}

.invisible{
  display: none;
}

.btn_top_margin{
  margin-top: 15px;  
}

.contents_top_margin{
  margin-top: 30px;
/*  margin-top: 30px;*/
}

.breadcrumb > li + li:before {
  content: " > ";
}